{% extends 'base.html.twig' %}

{% block title %}Home - Questions{% endblock %}

{% block body %}
    <div class="uk-margin-top uk-card uk-card-default uk-card-body">
        <table class="uk-section uk-animation-fade uk-table uk-table-hover uk-table-divider">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Text</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for question in collection %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.text }}</td>
                    <td><a href="{{ path('web_questions_show', {uuid: question.id}) }}">Show</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="uk-pagination uk-flex-center" uk-margin>
            <li><a href="#"><span uk-pagination-previous></span></a></li>
            <li><a href="{{ path('web_questions_cget') }}?page=1">1</a></li>
            <li><a href="{{ path('web_questions_cget') }}?page=2">2</a></li>
            <li><a href="{{ path('web_questions_cget') }}?page=3">3</a></li>
            <li><a href="{{ path('web_questions_cget') }}?page=4">4</a></li>
            <li><a href="#"><span uk-pagination-next></span></a></li>
        </ul>
    </div>
{% endblock %}
